<h1 style="text-align: center">FileFinder</h1>

<div class="menu">
  <mat-card>
      <h3>Base info</h3>
      <section class="row m-1">
        <mat-form-field class="input-form col-6">
          <mat-label>File path</mat-label>
          <input matInput placeholder="/home/jan" type="text" [(ngModel)]="path">
        </mat-form-field>

        <mat-slide-toggle class="col-6" [(ngModel)]="searchFilter.subdirectories">Subdirectiories</mat-slide-toggle>
      </section>

      <section class="row m-1">
        <mat-form-field class="input-form col-6">
          <mat-label>Search phrase</mat-label>
          <input matInput placeholder="AGH" type="text" [(ngModel)]="searchPhrase">
        </mat-form-field>

        <mat-slide-toggle class="col-6" [(ngModel)]="searchFilter.translate">Translate</mat-slide-toggle>
      </section>
  </mat-card>

  <mat-card>
    <h3>File formats</h3>

    <section class="row m-1">
      <mat-slide-toggle class="col-4" [(ngModel)]="searchFilter.textFileFilter.txt">txt</mat-slide-toggle>
    <!-- </section> -->

    <!-- <section> -->
      <mat-slide-toggle class="col-4" [(ngModel)]="searchFilter.textFileFilter.pdf">pdf</mat-slide-toggle>
    <!-- </section> -->
    
    <!-- <section> -->
      <mat-slide-toggle class="col-4" [(ngModel)]="searchFilter.textFileFilter.odt">odt</mat-slide-toggle>
    </section>

    <br>

    <section class="row m-1">
      <mat-slide-toggle class="col-4" [(ngModel)]="searchFilter.textFileFilter.doc">doc</mat-slide-toggle>
    <!-- </section> -->

    <!-- <section> -->
      <mat-slide-toggle class="col-4" [(ngModel)]="searchFilter.textFileFilter.rtf">rtf</mat-slide-toggle>
    <!-- </section> -->
    
    <!-- <section> -->
      <mat-slide-toggle class="col-4" [(ngModel)]="searchFilter.textFileFilter.audio">Audio</mat-slide-toggle>
    </section>

    <br>

    <section class="row m-1">
      <mat-slide-toggle class="col-4" [(ngModel)]="searchFilter.textFileFilter.video">Video</mat-slide-toggle>
    <!-- </section> -->

    <!-- <section> -->
      <mat-slide-toggle class="col-4" [(ngModel)]="searchFilter.textFileFilter.audioMetadata">Audio Metadata</mat-slide-toggle>
    <!-- </section> -->
    
    <!-- <section> -->
      <mat-slide-toggle class="col-4" [(ngModel)]="searchFilter.textFileFilter.videoMetadata">Video Metadata</mat-slide-toggle>
    </section>
  </mat-card>

  <mat-card>
    <button mat-raised-button (click)="search()">Search</button>
  </mat-card>
</div>